[Unit]
Description=Process Exporter for Prometheus

[Service]
User=root
Type=simple
EnvironmentFile=-/etc/default/process-exporter
ExecStart=/usr/bin/process-exporter $OPTS
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
