on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.23.8'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: make style
      - run: make vet
      - run: make test
      - run: make BRANCH=${{ github.head_ref || github.ref_name }} build
      - run: make integ