on:
  push:
#    branches:
#      - master
#    tags:
#      - v[0-9].*
#
#permissions:
#  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - run: make test

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: "~> 0.182"
          args: release --rm-dist --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
